.sound {
  .sound-block {
    position: fixed;
    top: 16px;
    left: 16px;
    z-index: 100;

    button {
      border: none;
      padding: 5px;
      background-color: transparent;
      cursor: pointer;

      img {
        width: 45px;
        height: 45px;
        filter: drop-shadow(0 0 5px white);
      }
    }
  }
}
